#inicio{
	color: darkred;
	font-style: roboto;
	text-align: center;



}
body{
	background-color: darkgrey;

}

.nav-item{
	margin: 0 40px;
}

.navbar {
	
	width: 100%;

	text-align: center;
	align-content: center;
	background-color: darkred;
    

}

.carousel img {
    max-width:300;
    max-height:500px;
    width: auto;
    height: auto;
}